.mat-button{
    padding:0;
    min-width: 30px;
}
.note-viewer-container{
    top: 61px;
    position: absolute;
    left: 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.note-viewer{
    margin: 0;
    padding:5px;
    height:300px;
    // position: absolute;
    // top: 0px;
}

